<!DOCTYPE html>
<html ng-app="surveyApp">
<head>
  <title>Survey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="height:100%">
  <div ng-controller="HeadersCtrl">
    <%= render partial: "layouts/navbar" %>
  </div>
  <div ng-view id="container" class="container-fluid">
    <%= yield %>
  </div>
    <!--<%#= render partial: "layouts/navbar" %>
    <div id="container" class="container-fluid">
      <div growl class="growl-notification"><%= alert %></div>
      <%#= yield %>
    </div>-->
  </body>
</html>
