<!DOCTYPE html>
<html>
<head>
  <title>Survey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="surveyApp">
  <%= render partial: "layouts/navbar" %>
  <div id="container" class="container-fluid">
    <!--<div ng-include="'layouts/navbar.html'"></div>-->
    <% if notice %>
      <div class="notice">
        <p class="alert alert-success"><a class="close" data-dismiss="alert">&times;</a><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert">
        <p class="alert alert-danger"><a class="close" data-dismiss="alert">&times;</a><%= alert %></p>
      </div>
    <% end %>
    <div growl class="growl-notification"></div>
    <%= yield %>
  </div>
</body>
</html>
